
<div class="topnav">
  <input (input)="onSearchChange($event.target.value)" type="text" placeholder="Filtrar pelo final do E-mail...">
</div>

  <div *ngIf="usersFiltered?.length" class="cards">

    <div class="card-grid">
      <div class="card-wrap" *ngFor="let user of usersFiltered">
        <div class="card">
          <div>
            <h3>{{user.name}}</h3>
            <hr>
            <p class="spacing"><span class="info">Username:</span> {{user.username}}</p>
            <p class="spacing"><span class="info">Email:</span> {{user.email}}</p>
            <p class="spacing"><span class="info">Telefone:</span> {{user.phone}}</p>
            <p class="spacing"><span class="info">Website:</span> {{user.website}}</p>
            <p class="spacing"><span class="info">Endereço:</span> {{user.address.street}}, {{user.address.suite}}, {{user.address.city}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>


